@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f5f6fa;
}

.linda-nav {
	background-color: #060c30;
	z-index: 0;
}

.linda-nav .w3-dropdown-hover {
	background-color: transparent !important;
	padding: 0;
	margin: 0;
}

.linda-nav .nav-link {
	font-size: 18px;
	color: #fff !important;
	padding: 0;
}

.linda-nav .menu-btn {
	background-color: transparent;
	border: none;
	font-size: 22px;
	color: #fff;
}

.linda-nav .search-bar {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	z-index: +1;
}

.linda-nav .search-bar input {
	width: 100%;
	padding: 0.8em 0.5em;
	font-size: 17px;
	border: none;
	background-color: #151b45;
	color: #fff;
	z-index: +1;
}

.linda-nav .search-bar .close-search-bar {
	z-index: +6;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 20px;
}

.linda-nav .search-bar input:focus {
	outline: none;
}

.linda-nav .menu-btn:focus,
.linda-nav .menu-btn:active {
	outline: none;
}

.badge {
	padding-left: 5px;
	padding-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 50px;
	position: absolute;
	left: -12px;
	top: -8px;
	background-color: #060c30;
	color: #ffc107;
	font-size: 12px;
}

.back-btn {
	position: absolute !important;
	left: 20px !important;
	bottom: 20px !important;
}

.back-btn button {
	color: #777 !important;
	background-color: rgb(0,0,0,0.19) !important;
	border: none !important;
	font-size: 18px !important;
	padding: 0.2em 0.8em !important;
	border-radius: 5px !important;
}

.active-btn {
	background-color: #ffc107 !important;
	color: #060c30 !important;
}

.active-btn:focus,
.active-btn:active{
	outline: none;
}

/******************************************************************
					GENERAL MODAL STYLE
*******************************************************************/
.modal {
	padding: 0;
	z-index: +999;
	margin: 0;
	background-color: #fff;
}

.modal-content {
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
    height: auto !important;
    height: 100vh !important;
    width: 100vw;
    overflow: auto;
} 

/* The Close Button */
.modal-content .close {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 35px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/******************************************************************
					LINDA BUSINESSES LIST STYLE
*******************************************************************/
#linda_businesses {
	margin-top: 50px;
	padding: 0.5em;
	background-color: #f5f6fa;
}

#linda_businesses .linda-description {
	margin-bottom: 40px;
}

#linda_businesses .linda-description h2 {
	font-size: 25px;
	font-weight: 600;
}

#linda_businesses .linda-description p {
	color: #777;
}

#linda_businesses .main-title {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	margin: 20px 0 10px 0;
}

#linda_businesses .exising-biz .business {
	border: 1px solid #f2f2f2;
	padding: 0.5em;
	margin-bottom: 10px;
	background-color: #fff;
}

#linda_businesses .exising-biz .business .biz-name {
	color: #060c30;
	font-style: 'Roboto', sans-serif;
	font-weight: 550;
}

#linda_businesses .exising-biz .business .biz-location {
	font-size: 15px;
	color: #222
}

#linda_businesses .exising-biz .business .biz-description {
	margin-top: 5px;
	line-height: 17px;
	color: #777;
}

#linda_businesses .exising-biz .business .order-now-btn {
	background-color: #060c30;
	padding: 0.3em 1em;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}


/******************************************************************
					PLACE ORDER MODAL STYLE
*******************************************************************/
#linda_businesses .items-full-biz .modal-content .header-description {
	background-color: #060c30; 	
}

#linda_businesses .items-full-biz .modal-content .header-description .profile-image {
	object-fit: cover;
	padding: 0.5em;
}

#linda_businesses .items-full-biz .modal-content .header-description .profile-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border: 1px solid rgb(255,255,255,0.3);
	border-radius: 50%;
}

#linda_businesses .items-full-biz .modal-content .header-description .name-location {
	padding: 0.5em 0;
}

#linda_businesses .items-full-biz .modal-content .header-description .name-location h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 550;
	margin: 0;
}

#linda_businesses .items-full-biz .modal-content .header-description .name-location small {
	color: #ffc107;
	font-size: 15px;
}

#linda_businesses .items-full-biz .modal-content .biz-items {
	padding: 0.5em;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item {
	width: 100%;
	margin-bottom: 10px;
	padding: 0.4em 0.4em 0 0.4em;
	background-color: #fff;
	border: 1px solid #f2f2f2;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .item-desdcrption {
	font-size: 16px;
	color: #777;
	padding: 0.5em;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item button {
	text-align: initial;
	width: 100%;
	outline: none;
	background-color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item button:focus,
#linda_businesses .items-full-biz .modal-content .biz-items .item button:focus {
	outline: none;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity {
	width: 300px;
	margin: 0 auto;
	padding-top: 0px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity .value-button {
	display: inline-block;
	border: none;
	margin: 0px;
	width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	padding: 0.30rem 0.70rem;
	background: #ffc107;
	color: #060c30;
	font-size: 18px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity .value-button:hover {
  	cursor: pointer;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity #decrease {
	margin-right: 0;
	border-radius: 50px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity #increase {
	margin-left: 0;
	border-radius: 50px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity #input-wrap {
	margin: 0px;
	padding: 0px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity input#number {
	text-align: center;
	border: none;
	margin: 0px;
	width: 40px;
	height: 40px;
	font-size: 16px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity input[type=number]::-webkit-inner-spin-button,
#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .sub-price {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 22px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .adding-to-cart {
	border-top: 1px solid #f2f2f2;
	margin-top: 10px;
	width: 100%;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .adding-to-cart .add-to-cart-btn {
	text-align: center;
	border: none;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	width: initial;
	padding: 0.3em 0.5em;
}


/*STARTING CART STYLE*/
#linda_businesses .items-full-biz .modal-content .added-items .cart-item {
	padding: 0.5em;
	border-bottom: 1px solid #f2f2f2;
	font-size: 16px;
}

#linda_businesses .items-full-biz .modal-content .added-items .cart-item i {
	color: #FF3000;
}

#linda_businesses .items-full-biz .modal-content .added-items .cart-footer {
	margin-bottom: 20px;
}

#linda_businesses .items-full-biz .modal-content .added-items .cart-footer h2 {
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	padding: 0 0.5em;
}

#linda_businesses .items-full-biz .modal-content .added-items .cart-footer .pickup-time {
	font-size: 18px;
}

#linda_businesses .items-full-biz .modal-content .added-items .cart-footer .pickup-time input {
	background-color: transparent;
	border: none;
}

#linda_businesses .items-full-biz .modal-content .added-items .place-order-btn {
	border: 1px solid #060c30;
	background-color: transparent;
	padding: 0.2em 0.8em;
	border-radius: 10px;
}

#linda_businesses .items-full-biz .modal-content .added-items .place-order-btn:active,
#linda_businesses .items-full-biz .modal-content .added-items .place-order-btn:focus {
	outline: none;
}

#linda_businesses .items-full-biz .modal-content .biz-profile {
	padding: 0.5em;
	position: relative;
}

#linda_businesses .items-full-biz .modal-content .biz-profile h6 {
	margin: 0;
}

#linda_businesses .items-full-biz .modal-content .biz-profile h6 a {
	color: #2196F3;
}

#linda_businesses .items-full-biz .modal-content .biz-profile button {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0.5em 1em;
	border: none;
	border-radius: 50px;
	background-color: #0d47A1;
	color: #fff;
	box-shadow: 0 2px 3px 0 rgb(0,0,0,0.20)
}

#linda_businesses .items-full-biz .modal-content .biz-profile h4 {
	margin: 0;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

/******************************************************************
					REGISTER BUSINESS MODAL STYLE
*******************************************************************/
#linda_businesses .register-biz .modal-content .register-header {
	background-color: #060c30;
	padding: 1em;
}

#linda_businesses .register-biz .modal-content .register-header h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 550;
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic {
	margin: 30px 0;
	width: 100px;
	height: 100px;
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid rgb(0,0,0,0.19);
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic [type="file"] + label {
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic i {
	font-size: 22px;
	color: #060c30;
}

#linda_businesses .register-biz .modal-content .registration-form form {
	padding: 0 1em;
}

#linda_businesses .register-biz .modal-content .registration-form form input,
#linda_businesses .register-biz .modal-content .registration-form form textarea {
	background: #fff;
	color: #a3a3a3;
	font-family: "Raleway",sans-serif;
	width: 100%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 0.8em;
	margin-bottom: 10px;
}

#linda_businesses .register-biz .modal-content .registration-form form textarea {
	height: 120px;
}

#linda_businesses .register-biz .modal-content .registration-form form .form-btns {
	margin: 20px 0;
}

#linda_businesses .register-biz .modal-content .registration-form form .form-btns .create-profile-btn {
	background-color: #060c30;
	padding: 0.5em;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}

/******************************************************************
					MANAGE BUSINESS MODAL STYLE
*******************************************************************/
#linda_businesses .manage-biz .modal-content .header-description {
	background-color: #060c30;
}

#linda_businesses .manage-biz .modal-content .header-description .profile-image {
	object-fit: cover;
	padding: 0.5em;
}

#linda_businesses .manage-biz .modal-content .header-description .profile-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border: 1px solid rgb(255,255,255,0.3);
	border-radius: 50%;
}

#linda_businesses .manage-biz .modal-content .header-description .name-location {
	padding: 0.5em 0;
}

#linda_businesses .manage-biz .modal-content .header-description .name-location h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 550;
}

#linda_businesses .manage-biz .modal-content .header-description .name-location small {
	color: #ffc107;
	font-size: 15px;
}

#linda_businesses .manage-biz .modal-content .biz-control-btn {
	margin-top: 10px;
	padding: 0 0.5em;
}

#linda_businesses .manage-biz .modal-content .biz-control-btn button {
	padding: 0.3em 0.6em;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	background-color: rgb(21, 27, 69, 0.6);
	color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#linda_businesses .manage-biz .modal-content .biz-orders {
	padding: 0.8em;
}

#linda_businesses .manage-biz .modal-content .biz-orders .order {
	margin-bottom: 25px;
}

#linda_businesses .manage-biz .modal-content .biz-orders .header {
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	background-color: #f8f8f8;
	padding: 0.3em;
	width: 100%;
	margin-bottom: 10px;
}

#linda_businesses .manage-biz .modal-content .biz-orders .header button {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #4CAF50;
	border: none;
	padding: 0.9em 0.2em;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	color: #fff;
}

#linda_businesses .manage-biz .modal-content .biz-orders .header .biz-name {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 550;
}

#linda_businesses .manage-biz .modal-content .biz-orders .header .pick-up-time {
	font-size: 15px;
	color: #060c30;
}

#linda_businesses .manage-biz .modal-content .biz-orders .ordered-item {
	font-size: 16px;
	padding: 0.3em;

}

#linda_businesses .manage-biz .modal-content .biz-orders .order-footer {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	font-size: 18px;
	font-weight: 600;
	padding: 0.3em 0;
}

#linda_businesses .manage-biz .modal-content .admin-add-items h4 button {
	background-color: #060c30;
	border: none; 
	color: #ffc107;
	border-radius: 5px;
	padding: 0.2em 0.5em;
}

#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form {
	margin: 20px 0;
}

#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form form {
	padding: 0 1em;
}

#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form form input,
#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form form textarea {
	background: #fff;
	color: #a3a3a3;
	font-family: "Raleway",sans-serif;
	width: 100%;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 0.8em;
	margin-bottom: 10px;
}

#linda_businesses .manage-biz .modal-content .adding-item-form form textarea {
	height: 80px;
}

#linda_businesses .manage-biz .modal-content .adding-item-form form .adding-btn-container {
	margin: 0 0 20px 0;
}

#linda_businesses .manage-biz .modal-content .adding-item-form form .adding-btn-container .add-item-btn {
	background-color: #060c30;
	padding: 0.5em;
	border: none;
	color: #ffc107;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}

#linda_businesses .manage-biz .modal-content .added-item {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 0.5em;
}

#linda_businesses .manage-biz .modal-content .added-item .w3-row {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

#linda_businesses .manage-biz .modal-content .added-item .w3-row i {
	color: #FF3000;
}

#linda_businesses .manage-biz .modal-content .added-item .description {
	font-size: 16px;
	color: #777;
	padding: 0.5em;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form .add-profile-pic {
	margin: 30px 0;
	width: 100px;
	height: 100px;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form .add-profile-pic img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid rgb(0,0,0,0.19);
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form .add-profile-pic [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form .add-profile-pic [type="file"] + label {
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form .add-profile-pic i {
	font-size: 22px;
	color: #060c30;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form form {
	padding: 0 1em;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form form input,
#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form form textarea {
	background: #fff;
	color: #a3a3a3;
	font-family: "Raleway",sans-serif;
	width: 100%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 0.8em;
	margin-bottom: 10px;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form form textarea {
	height: 120px;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form form .form-btns {
	margin: 20px 0;
}

#linda_businesses .manage-biz .modal-content .edit-biz-profile .edit-profile-form form .form-btns .save-changes {
	background-color: #060c30;
	padding: 0.5em;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}

/******************************************************************
					USER ORDERS MODAL STYLE
*******************************************************************/
#linda_businesses .my-orders .modal-content .header-description {
	background-color: #060c30;
}

#linda_businesses .my-orders .modal-content .header-description h2 {
	color: #fff;
	padding: 0.5em;
	margin: 0;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#linda_businesses .my-orders .modal-content .header-description .close {
    right: 10px;
    top: 5px !important;
}

#linda_businesses .my-orders .modal-content .order {
	margin-bottom: 20px;
	padding: 0.5em;
}

#linda_businesses .my-orders .modal-content .order .header {
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	background-color: #f8f8f8;
	padding: 0.3em;
	width: 100%;
	margin-bottom: 10px;
}

#linda_businesses .my-orders .modal-content .order .header .biz-name {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 550;
}

#linda_businesses .my-orders .modal-content .order .header .pick-up-time {
	font-size: 15px;
	color: #060c30;
}

#linda_businesses .my-orders .modal-content .order .ordered-item {
	font-size: 16px;
	padding: 0.3em;

}

#linda_businesses .my-orders .modal-content .order .order-footer {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	font-size: 18px;
	font-weight: 600;
	padding: 0.3em 0;
}

/******************************************************************
					ABOUT LINDA MODAL STYLE
*******************************************************************/
#linda_businesses .about-linda .modal-content .header-description {
	background-color: #060c30;
}

#linda_businesses .about-linda .modal-content .header-description h3 {
	color: #fff;
	padding: 0.5em;
	margin: 0;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#linda_businesses .about-linda .modal-content .header-description .close {
    right: 10px;
    top: 5px !important;
}

#linda_businesses .about-linda .modal-content .about-content {
	padding: 0.5em;
}

#linda_businesses .about-linda .modal-content .about-content p {
	color: #777;
	font-family: 'Roboto', sans-serif;

}

#linda_businesses .about-linda .modal-content .about-content .about-title {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	margin-bottom: 10px;
}

#linda_businesses .about-linda .modal-content .about-content .releases h5 {
	color: #1e88e5;
}